% rebase('base.html', title=f'Dependents of {name}')
<nav class="breadcrumb is-large">
  <ul>
    <li><a href="/">All Recipes</a></li>
    <li class="is-active"><a href="#">Dependents of {{name}}</a></li>
  </ul>
</nav>
<h1 class="title">Packages which depend on <tt>{{name}}</tt></h1>
<table class="table">
    <thead>
        <tr>
            <th>Relationship</th>
            <th>Package Name</th>
            <th>Summary</th>
        </tr>
    </thead>
    <tbody>
        % for relationship, package in sorted(packages, key=lambda p: p[1].package):
        <tr>
            <td>
                {{relationship}}
            </td>
            <td>
                <a href="/packages/{{package.package}}">{{package.package}}</a>
            </td>
            <td>
                {{package.SUMMARY}}
            </td>
            <!-- TODO: show relationship type -->
        </tr>
        % end
    </tbody>
</table>
