% import humanize
% rebase('base.html', title=f'Package Breakdown for {package}')

<nav class="breadcrumb is-large">
  <ul>
    <li><a href="/">All Recipes</a></li>
    <li><a href="/recipes/{{PN}}">Recipe {{PN}}</a></li>
    <li class="is-active"><a href="#">Package {{package}}</a></li>
  </ul>
</nav>

<section class="section">
    % if not FILES_INFO and not ALLOW_EMPTY:
    <article class="message is-danger">
        <div class="message-header">
            <p>Package Not Generated</p>
        </div>
        <div class="message-body">
            This package was not generated as it contains no files and
            <tt>ALLOW_EMPTY</tt> was not set. This metadata is for reference
            only, if other packages depend on this then the dependency will not
            be valid.
        </div>
    </article>
    % end

    <table class="table is-fullwidth">
    <tr>
        <td><b>Version:</b></td>
        <td>
            {{PKGE + ":" if PKGE else ""}}{{PKGV}}{{"-" + PKGR if PKGR else ""}}
        </td>
    </tr>

    % for key,label in (("PKG", "Package"), ("SUMMARY", "Summary"), ("DESCRIPTION", "Description"), ("LICENSE", "License")):
    <tr>
        <td><b>{{label}}:</b></td>
        <td>{{get(key)}}</td>
    </tr>
    % end

    <tr>
        <td><b>Size:</b></td>
        <td>{{humanize.naturalsize(PKGSIZE)}}</td>
    </tr>

    % for key in ("RDEPENDS", "RRECOMMENDS", "RSUGGESTS", "RPROVIDES"):
    % if get(key, None):
    <tr>
        <td><b>{{key}}:</b></td>
        <td>
        <div class="tags">
            % for name, version in get(key).items():
            <span class="tag">
            <a href="/packages/{{name}}">{{name}}</a>
            % if version:
            &nbsp;{{" ".join(version)}}
            % end
            </span>
            % end
        </div>
        </td>
    </tr>
    % end
    % end
    </table>

    <a class="button" href="/depends/{{package}}">What Depends on {{package}}</a>

    <h1 class="title">Packaged Files</h1>
    % if FILES_INFO:
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Size</th>
            </tr>
        </thead>
        <tbody>
            % for name, size in sorted(FILES_INFO.items()):
            <tr>
                <td><tt>{{name}}</tt></td>
                <td>{{humanize.naturalsize(size)}}</td>
            </tr>
            % end
        </tbody>
    </table>
    % else:
    <article class="message is-warning">
        <div class="message-body">
            This package contains no files.
        </div>
    </article>
    % end

    <h1 class="title">Requested Files</h1>
    % if FILES:
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            % for name in sorted(FILES):
            <tr>
                <td><tt>{{name}}</tt></td>
            </tr>
            % end
        </tbody>
    </table>
    % else:
    <article class="message is-warning">
        <div class="message-body">
            This package specifies no files.
        </div>
    </article>
    % end

% if pkg_postinst or pkg_postrm:
    <h1 class="title">Package Management Scripts</h1>
    % if pkg_postinst:
    <p><tt>pkg_postinst:</tt></p>
    <pre>{{pkg_postinst}}</pre>
    % end
    % if pkg_postrm:
    <p><tt>pkg_postrm:</tt></p>
    <pre>{{pkg_postrm}}</pre>
    % end
</section>
% end
