% import humanize
% rebase('base.html', title=f'Recipe Breakdown for {recipe}')
<nav class="breadcrumb is-large">
  <ul>
    <li><a href="/">All Recipes</a></li>
    <li class="is-active"><a href="/recipes/{{recipe}}">Recipe {{recipe}}</a></li>
  </ul>
</nav>
<h1 class="title">Recipe <tt>{{recipe}}</tt></h1>
<table class="table">
    <thead>
        <tr>
            <th>Package Name</th>
            <th>Summary</th>
            <th>Size</th>
        </tr>
    </thead>
    <tbody>
        % for name, package in sorted(packages.items()):
        <tr>
            <td>
                <a href="/packages/{{name}}">{{name}}</a>
            </td>
            <td>
                {{package.SUMMARY}}
            </td>
            <td>
                {{humanize.naturalsize(package.PKGSIZE)}}
            </td>
        </tr>
        % end
    </tbody>
</table>
