% rebase('base.html', title='All Recipes')

<nav class="breadcrumb is-large">
    <ul>
      <li class="is-active"><a href="/">All Recipes</a></li>
    </ul>
  </nav>
  <h1 class="title">All Recipes</h1>

  <table class="table">
    <thead>
        <tr>
            <th>Recipe Name</th>
            <th>Summary</th>
        </tr>
    </thead>
    <tbody>
        % for name, recipe in sorted(recipes.items()):
        <tr>
            <td>
                <a href="/recipes/{{name}}">{{name}}</a>
            </td>
            <td>
                {{recipe.summary or ""}}
            </td>
        </tr>
        % end
    </tbody>
</table>
